/* .App {
	text-align: center;
} */

#favoriteIcon {
	transition: transform 0.2s linear;
}
#favoriteIcon:hover {
	transform: scale(1.2);
}
.favoriteColor {
	color: #ff301a;
}
.notFavoriteColor {
	color: #174697;
}
